WHISPER_MODEL=small

## CPU
# WHISPER_DEVICE=cpu
# WHISPER_COMPUTE_TYPE=int8

## GPU
WHISPER_DEVICE=cuda
WHISPER_COMPUTE_TYPE=float16

## COMMON
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=info

SOUND_MODEL=panns
SOUND_TOP_K=5
SOUND_MIN_SCORE=0.2

VOICE_FRAME_LENGTH=2048
VOICE_HOP_LENGTH=256
VOICE_FMIN=65.0
VOICE_FMAX=400.0
VOICE_MFCC_N=13
VOICE_PAUSE_DB_THRESHOLD=25.0
VOICE_MIN_PAUSE_SEC=0.20
ENABLE_OPENSMILE=false